{% extends 'base.html.twig' %}

{% block title %}Edit Training Execution{% endblock %}

{% block body %}
    <main class="pt-20">
        <div class="table-container w-4/5 mx-auto">
            <h1 class="text-3xl font-bold mb-4 text-center">Edit Training Execution</h1>

            {{ include('training_execution/_form.html.twig', {'button_label': 'Update'}) }}
            
            <div class="flex justify-between mt-4 mb-4">
                 <div class="flex justify-between">
                    <a href="javascript:history.back()" class="button is-info px-4 py-2">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Back</span>
                    </a>
                </div>
                <div>
                    {{ include('training_execution/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}