{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <section class="section">
        <div class="container mx-auto px-4 sm:px-8">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <h1 class="text-4xl font-bold mb-4">Reset your password</h1>

            {{ form_start(requestForm, {'attr': {'class': 'box bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}}) }}
                <div class="mb-4">
                    <label for="inputEmail" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                    {{ form_widget(requestForm.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                    <div>
                        <small>
                            Enter your email address, and we will send you a
                            link to reset your password.
                        </small>
                    </div>
                </div>

                <div class="flex items-center justify-center mb-4">
                    <button class="button is-link" type="submit">Send password reset email</button>
                </div>
            {{ form_end(requestForm) }}
        </div>
    </section>
{% endblock %}