<form method="post" action="{{ path('app_machines_delete', {'id': machine.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ machine.id) }}">
    <button class="button is-danger">Delete</button>
</form>
