{% extends 'base.html.twig' %}

{% block title %}New Machines{% endblock %}

{% block body %}
    <main class="pt-20">
        <div class="table-container w-4/5 mx-auto">
            <h1 class="text-3xl font-bold mb-4 text-center">Create new Machines</h1>

            {{ include('machines/_form.html.twig', {'button_label': 'Create'}) }}

            <div class="flex justify-between">
                <a href="javascript:history.back()" class="button is-info px-4 py-2">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span>Back</span>
                </a>
            </div>
        </div>
    </main>
{% endblock %}
