{% extends 'base.html.twig' %}

{% block title %}New TrainingPlan{% endblock %}

{% block body %}
    <h1>Create new TrainingPlan</h1>

    {{ include('training_plan/_form.html.twig') }}

    <a href="{{ path('app_training_plan_index') }}">back to list</a>
{% endblock %}
